<h1 class="mt-3">Todos</h1>
<div id="todos">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Task</th>
        <th scope="col">Due Date</th>
        <th scope="col">Priority</th>
        <th scope="col">Completed</th>
        <th scope="col">User Id</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @todos.each do |todo| %>
        <% if todo.user == current_user%>
          <tr>
            <%= render todo %>
            <td>
              <%= todo.user_id%>
            </td>
            <td>
              <%= link_to "Show this todo", todo, class:"btn btn-secondary" %>
            </td>
          </tr>
        <% end%>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to "New todo", new_todo_path, class:"btn btn-primary" %>
